/* это правило ни к чему не при-
меняется, потому что это ком-
ментарий
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&subset=cyrillic');

body {
  font-family: Roboto, Verdana, Helvetica, Arial, sans-serif;
  font-size: small;
  line-height: 1.6em;
}
h1, h2 {
  color: #007e7e;
}
h1 {
  font-size: 150%;             
}
h2  {
  font-size: 130%;
}
