$screen-small : 500px;
$screen-medium : 760px;
$screen-larger: 1000px;

@mixin mq-small-up  {
	@media(max-width: $screen-small) {
		@content;
	}
}
@mixin mq-medium-up  {
	@media(min-width: $screen-small+1) and (max-width: $screen-medium) {
		@content;
	}
}
@keyframes slide-down  {
  from  {top: -200px;}
  to  {top: 0;}
}
@keyframes slide-up  {
  from  {top: 0;}
  to  {top: -200px;}
}

.nav,
.boxes,
.footer,
.footer form  {
	display: flex;
	flex-flow: row wrap;
}
.header #menu  {
	display: none;
}
.menu_button  {
	display: none;

}

.nav  {
	justify-content: space-between;

	a  {
		width: 24%;
	}
}
.boxes 	{
	div  {
		flex: 1 1 250px;
		margin: 10px;
		padding: 10px 10px 0 10px;
		border-radius: 5px;
		background-color: rgba(0,0,0,.1);
		display: flex;
		flex-flow: column;
	}
	.more  {
		margin-top: auto;
		text-align: center;
	}
}
.footer  {
	.copyright {
		flex: 2 1 500px;
		margin-right: 30px;
	}
	.signup {
		flex: 1 1 250px;
		label {
			width: 100%;
		}
	}
	form input[type="email"]  {
		border-radius: 4px 0 0 4px;
		width: 80%;
		max-width: 300px;
	}
	form input[type="submit"]  {
		border-radius: 0 4px 4px 0;
		padding: 0 10px;
		width: 20%;
		max-width: 60px;
	}
}

@include mq-small-up  {
	.header .section  {
		padding: 0;
		.action  {
			padding-top: 40px;
			padding-bottom: 10px;
		}
	}
	.nav  {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding-top: 5px;
		padding-bottom: 50px;
		background-color: rgba(255,255,255,1);
		transition-property: all;
		transition-duration: .5s;
		a  {
			width: 100%;
			margin: 0;
			border-radius: 0;
			border-bottom: solid thin rgba(0,0,0,.2);
			&:hover  {
				border-bottom: solid thin rgba(0,0,0,.2);
			}
		}
		.button.button-primary  {
			background-color: rgba(255,255,255,1);
			border-bottom: solid thin rgba(0,0,0,.2);
			color: #33C3F0;
		}
	}
	.menu_button  {
		display: block;
		width: 32px;
		height: 32px;

		background-image: url(../imgs/close-x.png);
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 165px;
		right: 10px;
		
		z-index: 10;
		transition-property: all;
		transition-duration: .5s;
		transform: rotate(-360deg);
	}

	#menu:checked  {
		~ .nav  {
		top: -240px;
		opacity: 0;

/* 		animation-name: slide-up;
    	animation-duration: .5s;
*/		}
		~ .menu_button {
			background-image: url(../imgs/menu1.png);
			background-size: contain;
			transform: rotate(360deg);
			top: 5px;
		transition-property: all;
		transition-duration: .5s;
		}
	}
	h1, h2, .info h2 {
		font-size: 2rem;
		margin: 0;
	}
}

@include mq-medium-up  {
	.nav a  {
	width: 48%;
	margin: 5px 1px;
	}
	h1, h2, .info h2 {
		font-size: 3rem;
		margin: 0;
	}
	.action  {
		padding-top: 0;
	}
}




