*,
* :before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  min-width: 700px;
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}
.m-menu {
  display: none;
}
.m-menu-burger {
  display: none;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  min-height: 700px;
  padding: 20px 0;
  color: #fff;
}
.main-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url(../img/bg1.png) no-repeat center;
  background-size: cover;
}
.main-bg-gradient {
  height: 100%;
  width: 100%;
  opacity: 0.9;
  background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
}


.header {
 display: flex;
 width: 100%;
 padding: 0 2%;
 justify-content: space-between;
 align-items: center;
}

.header > .logo {
  height: 100px;
  min-width: 245px;
  background: url(../img/Logo.png) no-repeat left;
}
.menu {
  min-width: 700px;
  width: 45%;
}
.menu ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.menu ul li {
  list-style: none;
}
.menu-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  padding: 15px;
}
.menu-link:hover {
  border-bottom: #fff 2px solid;

}
.btn-getStarted {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  border: #fff 1px solid;
  padding: 15px 30px;
  border-radius: 100px;
  margin-left: 30px;
}
.btn-getStarted:hover {
  color: #6a6a77;
  background-color: #fff;
}
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 500px;

}
.main-text > h1 {
  font-size: 8.6rem;
  font-weight: 500;
  margin: 2rem 0;
}
.main-text > h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.main-text > h5::before {
  display: inline-block;
  content: '';
  height: 1px;
  width: 24px;
  background: #fff;
  margin-right: 15px;  
}
.main-text > h5::after {
  display: inline-block;
  content: '';
  height: 1px;
  width: 24px;
  background: #fff;
  margin-left: 15px;  
}
.main-text > p { 
  margin: 0;
  width: 400px;
  font-size: 1.6rem;
  line-height: 2;
}
.btn-down {
  width: 64px;
  height: 64px;
  background: url(../img/arrows-down.png) no-repeat center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
}
.btn-down:hover {
  cursor: pointer;
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.8);
}

/*-------------- PAGE 2 ------------ */

.plan {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 800px;
  height: 100vh;
  background-color: #f9fafc;
}
.plan-text {
  display: flex;  
  flex-direction: column;
  width: 380px;
  height: 180px;
  color: #9fa4af;
  justify-content: center;
  align-items: center;
}
.plan-text > h1 {
  font-size: 6rem;
  font-weight: 500;
  margin: 1rem 0;
  color: #4f4f6f;
}
.plan-text > h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.plan-text > h5::before {
  display: inline-block;
  content: '';
  height: 1px;
  width: 24px;
  background: #9fa4af;
  margin-right: 15px;  
}
.plan-text > h5::after {
  display: inline-block;
  content: '';
  height: 1px;
  width: 24px;
  background: #9fa4af;
  margin-left: 15px;  
}
.plan-text > p { 
  margin: 0;
  font-size: 1.6rem;
  line-height: 2;
}
.cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 32%;
  border: #d7dbe8 1px solid;
  border-radius: 30px;
  margin: 10px;
  background: #fff;
}
.card:hover {
  box-shadow: 0px 0px 50px 5px rgba(204, 204, 223, 0.5);
  border-color: #fff;
  transition: 0.2s;
}
.card img {
  margin: 40px;
}
.plan-type {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #9fa4af;
}
.plan-cost {
  font-size: 6rem;
  font-weight: 500;
  height: 1em;
  margin: 14px;
  color: #4f4f6f;
}
.plan-cost::before {
  content: '$';
  display: inline-block;
  vertical-align: top;
  margin-top: 1.4rem;
  font-size: 1.6rem;
}
.plan-cost::after {
  content: '/month';
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
}
.plan-description {
  color: #9fa4af;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 40px;
  padding: 0 15%;
}
.btn-select {
  width: 190px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #c2c9db;
  font-weight: 600;
  padding: 20px;
  border: #d7dbe8 1px solid;
  border-radius: 25px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.7);
}
.btn {
  text-decoration: none;
}
.btn-select:hover {
  cursor: pointer;
  background: #6e45e2;
  color: #fff;
  box-shadow: none;
  transition: 0.2s;
}
.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 520px;
  background: url(../img/bg_map.png) no-repeat center;
  background-size: cover;
  color: #fff;    
}
.map-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.map-text > h1 {
  font-size: 6rem;
  font-weight: 500;
  margin: 1rem 0;
}
.map-text > h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.map-btn {
  text-align: center;
}
.map-btn span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 190px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  margin: 5px;
  color: #c2c9db;
  font-size: 1.2rem;
  font-weight: 600;
}
.map-btn span:hover {
  cursor: pointer;
  color: #fff;
  background: #6e45e2;
  transition: 0.2s;
}



footer {
  padding: 0 2%;
}
footer .menu_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
footer .logo {
  display: flex;
  align-items: center;
  height: 100px;
  min-width: 245px;
  background: url(../img/Symbol.png) no-repeat left;
}
footer .logo::after {
  content: 'misocial';
  text-transform: uppercase;
  width: 175px;
  margin-left: 70px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.5rem;
}
footer .menu-link {
  color: #6a6a77;
}
footer .menu-link:hover {
  color: #6e45e2;
  border-bottom: #6e45e2 2px solid;
}
footer .btn-getStarted {
  color: #6a6a77;
  border: #6a6a77 1px solid;

}
footer .btn-getStarted:hover {
  cursor: pointer;
  color: #fff;
  background: #6e45e2;
  border: #6e45e2 1px solid;
  box-shadow: none;  
}
footer .line {
  height: 1px;
  width: 100%;
  background-color: #6a6a77;
  opacity: 0.2;
}
.copy_social_wrap {
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
  margin: 2rem 0;
}
.copyright { 
font-size: 1.6rem;
color: #6a6a77;
text-align: center;
}
.social-link .fa {
  font-size: 1.6rem;
  color: #6a6a77;
  margin-left: 1rem;
}
.social-link .fa:hover {
  color: #6200ff;
}