/* это правило ни к чему не при-
меняется, потому что это ком-
ментарий
 */

@font-face  {
              font-family: "OpenSans-Regular";
              src: url("https://2775848.github.io/fonts/OpenSans-Regular.ttf");
}
@font-face  {
              font-family: "OpenSans-Italic";
              src: url("https://2775848.github.io/fonts/OpenSans-Italic.ttf");
}
@font-face  {
              font-family: "OpenSans-SemiBoldItalic";
              src: url("https://2775848.github.io/fonts/OpenSans-SemiBoldItalic.ttf");
}
@font-face  {
              font-family: "OpenSans-Light";
              src: url("https://2775848.github.io/fonts/OpenSans-Light.ttf");
}
@font-face  {
              font-family: "OpenSans-Bold";
              src: url("https://2775848.github.io/fonts/OpenSans-Bold.ttf");
}
@font-face  {
              font-family: "OpenSans-SemiBold";
              src: url("https://2775848.github.io/fonts/OpenSans-SemiBold.ttf");
}
@font-face  {
              font-family: "Pacifico";
              src: url("https://2775848.github.io/fonts/Pacifico-Regular.ttf");
}
@font-face  {
              font-family: "Montserrat-Regular";
              src: url("https://2775848.github.io/fonts/Montserrat-Regular.ttf");
}
@font-face  {
              font-family: "Montserrat-Italic";
              src: url("https://2775848.github.io/fonts/Montserrat-Italic.ttf");
}
@font-face  {
              font-family: "SeymourOne-Regular";
              src: url("https://2775848.github.io/fonts/SeymourOne-Regular.ttf");
}
body {
        font-family: OpenSans-Regular, sans-serif;
        font-size: medium;
}
h1 {
      font-family: SeymourOne-Regular, sans-serif;
      color: #336600; /* темно-зеленый */
      font-size: 200%;
      text-transform: uppercase;
}
h2 {
      font-family: OpenSans-Italic, cursive;
      font-size: 130%;
      color: #cc6600; /* темно-оранж */
      border-bottom: thin dotted #cc6600;
      font-weight: bold;
      font-style: italic;
}
blockquote {
              font-family: OpenSans-Italic, cursive;
}

dt  {
      font-style: italic;
      font-size: 80%;
      color: grey;
      font-weight: bold;
}
dd  {
      font-style: italic;
      font-size: 80%;
      color: grey;
}



/*

h1, h2 {
          color: gray;
}
h1 {
          text-decoration: underline;
          border-bottom: 1px solid black;
          text-align: center;
}

p {
          color: maroon;
}
p.greentea  {
              color: green
}
p.blueberry {
              color: blue
}
 p.raspberry {
              color: purple
}
footer {
          text-align: center;  
}
*/